.game-title {
    display: flex;
    justify-content: space-around;
}

.score-board {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.player-1-detail {
    color: #007bff;
}

.player-2-detail {
    color: #dc3545;
}

.board-container {
    display: flex;
    justify-content: space-around;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.board-row {
    display: flex;
    flex-direction: row;
}

.tile {    
    height: 120px;
    width: 120px;

    margin: 1px;
    
    border: 1px;
    border-color: grey;
    border-radius: 5px;
    border-style: solid;

    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 30px;
}

.game-over-container {
    margin-top: 2em;
    
    display: flex;
    justify-content: space-around;
}